# Imports

In [41]:
import numpy as np
import pandas as pd
import processing

# Read Data

In [24]:
DATA_DIR = "data/us_census.csv"

In [25]:
df = pd.read_csv(DATA_DIR)

# Summary Stats

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199523 entries, 0 to 199522
Data columns (total 42 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   age                                        199523 non-null  int64
 1   class_of_worker                            199523 non-null  object
 2   detailed_industry_recode                   199523 non-null  int64
 3   detailed_occupation_recode                 199523 non-null  int64
 4   education                                  199523 non-null  object
 5   wage_per_hour                              199523 non-null  int64
 6   enroll_in_edu_inst_last_wk                 199523 non-null  object
 7   marital_stat                               199523 non-null  object
 8   major_industry_code                        199523 non-null  object
 9   major_occupation_code                      199523 non-null  object
 10  race                                       199523 non-null  object
 11  hispanic_origin                            199523 non-null  object
 12  sex                                        199523 non-null  object
 13  member_of_a_labor_union                    199523 non-null  object
 14  reason_for_unemployment                    199523 non-null  object
 15  full_or_part_time_employment_stat          199523 non-null  object
 16  capital_gains                              199523 non-null  int64
 17  capital_losses                             199523 non-null  int64
 18  dividends_from_stocks                      199523 non-null  int64
 19  tax_filer_stat                             199523 non-null  object
 20  region_of_previous_residence               199523 non-null  object
 21  state_of_previous_residence                199523 non-null  object
 22  detailed_household_and_family_stat         199523 non-null  object
 23  detailed_household_summary_in_household    199523 non-null  object
 24  instance_weight                            199523 non-null  float64
 25  migration_code_change_in_msa               199523 non-null  object
 26  migration_code_change_in_reg               199523 non-null  object
 27  migration_code_move_within_reg             199523 non-null  object
 28  live_in_this_house_1_year_ago              199523 non-null  object
 29  migration_prev_res_in_sunbelt              199523 non-null  object
 30  num_persons_worked_for_employer            199523 non-null  int64
 31  family_members_under_18                    199523 non-null  object
 32  country_of_birth_father                    199523 non-null  object
 33  country_of_birth_mother                    199523 non-null  object
 34  country_of_birth_self                      199523 non-null  object
 35  citizenship                                199523 non-null  object
 36  own_business_or_self_employed              199523 non-null  int64
 37  fill_inc_questionnaire_for_veterans_admin  199523 non-null  object
 38  veterans_benefits                          199523 non-null  int64
 39  weeks_worked_in_year                       199523 non-null  int64
 40  year                                       199523 non-null  int64
 41  label                                      199523 non-null  object
dtypes: float64(1), int64(12), object(29)
memory usage: 63.9+ MB

In [27]:
df.describe()

,age,detailed_industry_recode,detailed_occupation_recode,wage_per_hour,capital_gains,capital_losses,dividends_from_stocks,instance_weight,num_persons_worked_for_employer,own_business_or_self_employed,veterans_benefits,weeks_worked_in_year,year
count,199523.000000,199523.000000,199523.000000,199523.000000,199523.00000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000,199523.000000
mean,34.494199,15.352320,11.306556,55.426908,434.71899,37.313788,197.529533,1740.380269,1.956180,0.175438,1.514833,23.174897,94.499672
std,22.310895,18.067129,14.454204,274.896454,4697.53128,271.896428,1984.163658,993.768156,2.365126,0.553694,0.851473,24.411488,0.500001
min,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,37.870000,0.000000,0.000000,0.000000,0.000000,94.000000
25%,15.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1061.615000,0.000000,0.000000,2.000000,0.000000,94.000000
50%,33.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1618.310000,1.000000,0.000000,2.000000,8.000000,94.000000
75%,50.000000,33.000000,26.000000,0.000000,0.00000,0.000000,0.000000,2188.610000,4.000000,0.000000,2.000000,52.000000,95.000000
max,90.000000,51.000000,46.000000,9999.000000,99999.00000,4608.000000,99999.000000,18656.300000,6.000000,2.000000,2.000000,52.000000,95.000000

In [28]:
df.head(1)

,age,class_of_worker,detailed_industry_recode,detailed_occupation_recode,education,wage_per_hour,enroll_in_edu_inst_last_wk,marital_stat,major_industry_code,major_occupation_code,...,country_of_birth_father,country_of_birth_mother,country_of_birth_self,citizenship,own_business_or_self_employed,fill_inc_questionnaire_for_veterans_admin,veterans_benefits,weeks_worked_in_year,year,label
0,0,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,95,- 50000.

In [29]:
processing.missing_values_report(df)

 There are 0 columns that have missing values.
 Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

# Exploration